<!-- <div>
    <div class="mb-3 row">
      <div class="col-sm-2">
       </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="input-group mb-3 row">
    <div class="col-sm-2">
      <span class="input-group-text">Name</span>
    </div>
    <div class="col-sm-4">
      <input type="text" aria-label="Name" class="form-control">
    </div>
  </div>

  <div class="input-group mb-3 row">
    <div class="col-sm-2">
      <span class="input-group-text">Date of Birth</span>
    </div>
    <div class="col-sm-4">
      <input type="text" aria-label="Date of Birth" class="form-control">
    </div>
  </div>
  <div class="input-group mb-3 row">
    <div class="col-sm-2">
      <span class="input-group-text">Age</span>
    </div>
    <div class="col-sm-4">
      <input type="text" aria-label="Age" class="form-control">
    </div>
  </div>
  
  <div class="input-group mb-3 row">
    <div class="col-sm-2">
      <span class="input-group-text">Death – Sum Insured</span>
    </div>
    <div class="col-sm-4">
      <input type="text" aria-label="Death – Sum Insured" class="form-control">
    </div>
  </div>
  <div class="input-group mb-3 row">
    <div class="col-sm-2">
      <span class="input-group-text">Occupation</span>
    </div>
    <div class="col-sm-4">
       <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div> -->

  
  <div class="container mt-5">
    <div class="row custom-wrapper">
       <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div>
          <div class="mb-3 row">
            <div class="col-sm-2">
             </div>
            <div class="col-sm-4">
            </div>
          </div>
          <div class="input-group mb-3 row">
          <div class="col-sm-2">
            <span class="input-group-text">Name</span>
          </div>
          <div class="col-sm-4">
            <input type="text" formControlName="Name" aria-label="Name" class="form-control">
          </div>
        </div>
      
        <div class="input-group mb-3 row">
          <div class="col-sm-2">
            <span class="input-group-text">Date of Birth</span>
          </div>
          <div class="col-sm-4">
            <input type="text"  formControlName="DateofBirth" aria-label="Date of Birth" class="form-control">
          </div>
        </div>
        <div class="input-group mb-3 row">
          <div class="col-sm-2">
            <span class="input-group-text">Age</span>
          </div>
          <div class="col-sm-4">
            <input type="text" formControlName="Age" aria-label="Age" class="form-control">
          </div>
        </div>
        
        <div class="input-group mb-3 row">
          <div class="col-sm-2">
            <span class="input-group-text">Death – Sum Insured</span>
          </div>
          <div class="col-sm-4">
            <input type="text" formControlName="SumInsured" aria-label="Death – Sum Insured" class="form-control">
          </div>
        </div>
        <div class="input-group mb-3 row">
          <div class="col-sm-2">
            <span class="input-group-text">Occupation</span>
          </div>
          <div class="col-sm-4">
             
          <select
          class="form-select"
          (change)="changeOccupation($event)"
          formControlName="OccupationType"        >
          <option value="">Choose Occupation</option>
          <option *ngFor="let Occupation of Occupations" [ngValue]="Occupation">
            {{ Occupation }}
          </option>
        </select>
           
          </div>
        </div>
         
        <div class="input-group mb-3 row">
          <div class="col-sm-2">
            <span class="input-group-text">Death Premium </span>
          </div>
          <div class="col-sm-4">
            <input type="text" formControlName="DeathPremium" readonly aria-label="Death Premium" class="form-control">
          </div>
        </div>
        </div> 
        
      </form>
    </div>
  </div>